<div class="social-bar">
  <div class="social-bar-container">
    <a href="#"><img src="/img/facebook.svg" alt="facebook logo"></a>
    <a href="#"><img src="/img/twitter.svg" alt="twitter logo"></a>
    <a href="#"><img src="/img/linkedin.svg" alt="linkedin logo"></a>
    <a href="#"><img src="/img/google.svg" alt="google logo"></a>
  </div>
</div>
<div class="footer-links">
  <div class="footer-logo">
    <img src="/img/logo.png" alt="mom logo">
    <span> MoM </span>
  </div>
  <div class="footer-links-container">
    <div>
      <h6> PRODUCT </h6>
      <p> <a href="#">Features</a> </p>
      <p> <a href="#pricing">Pricing </a></p>
      <p> <a href="#">Free trial </a></p>
    </div>
    <div>
      <h6> LEARN </h6>
      <p> <a href="#">Blog </a></p>
      <p> <a href="#">Meeting Best Practices </a></p>
    </div>
    <div>
      <h6> COMPANY </h6>
      <p> <a href="#">Privacy </a></p>
      <p> <a href="#">Terms & Conditions </a></p>
      <p> <a href="#">Contact Us </a></p>
    </div>
    <div>
      <h6> SOCIAL </h6>
      <p> <a href="#">Facebook </a></p>
      <p> <a href="#">Twitter </a></p>
      <p> <a href="#">LinkedIn </a></p>
      <p> <a href="#">Google + </a> </p>
    </div>
  </div>
</div>
<div class="copyright">
  <p> Copyright 2016, MoM </p>
</div>



{% js vendor %}
{% js main %}
