<div class="mom-container">
  <nav class="flex-nav-bar">
    <ul class="logo">
      <li class="logo-img"><img src="/img/logo_02.png"></li>
      <li class="logo-text">MoM</li>
    </ul>
    <ul class="mom-navbar">
      <li><a href="#pricing">Pricing</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/login/">Login</a></li>
      <li class="sign-up-button"><a href="/signup/">Sign Up Free</a></li>
    </ul>
    <ul class="hamburger-button">
      <li> <img src="/img/hamburger.png"> </li>
    </ul>
  </nav>
  <div class="mobile-navbar">
    <div>
      <img src="/img/close.png">
    </div>
    <ul>
      <li><a href="#pricing">Pricing</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/login/">Login</a></li>
      <li class="sign-up-button"><a href="/signup/">Sign Up Free</a></li>
    </ul>
  </div>
</div>
