<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta name="description" content="Mom is a meeting notes taking application. It helps save time by collaborating with other team members. With rich feature set of widgets, templates and actions.">

  {% if include.title %}
  <title>{{ include.title }}</title>
  {% else %}
  <title>HU UI Track</title>
  {% endif %}
  <meta name="author" content="">
  
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  {% css vendor %}
  {% css main %}
</head>
