<div class="mom-container"> 
  <h2> Our Users Say </h2>
  <div class="user-box">
    <img class="user-dp" src="/img/dp.png" alt="Himanshu's image, CEO at HashedIn">
    <span class="user-name">Himanshu</span>
    <img class="user-desg" src="/img/hashedin.png" alt="CEO at HashedIn">
    <div class="user-msg">
      <p> {{ include.user-msg}} </p>
    </div>
    <span class="promotion-text" >Don’t take Himanshu’s word? Take a free trial and find for yourself.</span>
    {% include offer-button.html text="Take 30 day free trial" %}
    <span class="promotion-text" >Excellent for recurring corporate meeting minutes.</span>
  </div>
</div>
<div class="color-line"></div>
