<div class="mom-container">
  
  <div class="sec2-product-logo">
    <img src="/img/logo_02.png">
    <p> MoM </p>
    <div>
      <p> Effective meetings are hard work. Apart from the agenda at hand, someone needs to be thinking about the processes and following up.</p>
    </div>
  </div>
  <!-- feature-1 -->
  <div class="sec2-feature">
    <div>
      <h2> Collaborative Notes. </h2>
      <p> There isn’t any UI. Type notes as you normally would and action items are created. </p>
      {% include offer-button.html text="GET STARTED" %}
    </div>
    <img src="/img/mock_two.png">
  </div>
  <!-- END - feature-1 -->

  <!-- feature-2 -->
  <div class="sec2-feature">
    <img src="/img/mock_three.png">
    <div>
      <h2> CSimple. Just Start Typing. </h2>
      <p> TNo Complicated forms, drop downs. As simple as talking notes on paper. Just start typing </p>
      {% include offer-button.html text="GET STARTED" %}
    </div>
  </div>
  <!-- END - feature-2 -->

  <div class="product-details">
    <div>
      <div class="product-feature">
        <img src="/img/template.png">
        <h4> Templates </h4>
      </div>
      <p class="feature-desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque lectus felis, vulputate hendrerit augue fermentum dictum. Proin sed rutrum nisl. Aliquam vel libero velit. </p>
    </div>
    <div>
      <div class="product-feature">
        <img src="/img/widget.png">
        <h4> Widgets </h4>
      </div>
      <p class="feature-desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque lectus felis, vulputate hendrerit augue fermentum dictum. Proin sed rutrum nisl. Aliquam vel libero velit. </p>
    </div>
    <div>
      <div class="product-feature">
        <img src="/img/actions.png">
        <h4> Actions </h4>
      </div>
      <p class="feature-desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque lectus felis, vulputate hendrerit augue fermentum dictum. Proin sed rutrum nisl. Aliquam vel libero velit. </p>
    </div>
  </div>
  
</div>
