<div class="mom-container">
  <div class="product-details">
    <div>
      <div class="product-feature">
        <img src="/img/template.png">
        <h4> Templates </h4>
      </div>
      <p class="feature-desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque lectus felis, vulputate hendrerit augue fermentum dictum. Proin sed rutrum nisl. Aliquam vel libero velit. </p>
    </div>
    <div>
      <div class="product-feature">
        <img src="/img/widget.png">
        <h4> Widgets </h4>
      </div>
      <p class="feature-desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque lectus felis, vulputate hendrerit augue fermentum dictum. Proin sed rutrum nisl. Aliquam vel libero velit. </p>
    </div>
    <div>
      <div class="product-feature">
        <img src="/img/actions.png">
        <h4> Actions </h4>
      </div>
      <p class="feature-desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque lectus felis, vulputate hendrerit augue fermentum dictum. Proin sed rutrum nisl. Aliquam vel libero velit. </p>
    </div>
  </div>
</div>
