.section1-container {
  background-image: url('/img/banner.jpg');
  padding-top: 62px;
}

.logo-img > img {
  height: 40px;
}

.sign-up-button {
  border: 1px solid $white-color;
  border-radius: 19px;
  padding: 3px 15px;
}

.flex-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  ul {
    list-style: none;

    li {
      font-size: 14px;
      color: $white-color;
      display: inline;
      margin-right: 20px;
    }
    
    .logo-text {
      font-size: 20px;
    }
  }
}

.mom-header {
  color: $white-color;
  margin-top: 76px;
}

.sub-header {
  color: $white-color;
  text-align: center;
}

.trial-offer-button {
  display: flex;
  justify-content: center;
  margin-top: 66px;

  span {
    font-size: 14px;
    color: $white-color;
    background-color: $trial-offer-button;
    padding: 5px 14px;
    border-radius: 19px;
  }
}

.offer-message {
  margin-top: 16px;
  text-align: center;
  color: $white-color;
  font-size: 11px;
}

.mockup-01 {
  display: flex;
  justify-content: center;
  margin-top: 84px;
  
  img {
    height: 345px;
  }
}
