.section8-container {
  background-color: $user-review-price-back-color;
  padding-top: 50px;
  padding-bottom: 35px;
  h2 {
    text-align: center;
    color: $white-color;
    font-weight: 300;
  }

  .price-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    
    .dot {
      background-color: $seperator-dot-color;
      width: 7px;
      height: 7px;
      border-radius: 5px;
    }

    span {
      color: $white-color;
      margin: 0 10px;
      font-size: 13px;
      font-weight: 300;
    }
  }

  .plans {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;

    .plan {
      border-radius: 10px;
      background-color: $priceplan-back-color;
      margin-right: 20px;
      width: 150px;
      height: 300px;
    }
  }
}
