.section2-container {
  padding-bottom: 62px;
}

.sec2-product-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;

  img {
    height: 60px;
  }

  p {
    margin-top: 25px;
    font-weight: 300;
    font-size: 24px;
  }

  div {
    text-align: center;
    width: 540px;

    p {
      font-size: 13px;
    }
  }
}

.sec2-feature {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 124px; 

  h2 {
    font-weight: 300;
  }
  
  p {
    margin-top: 24px;
    font-size: 12px;
    font-weight: 300;
    width: 270px;
  }

  .trial-offer-button {
    justify-content: flex-start;
    margin-top: 29px;
  }

  img {
    height: 360px;
  }
}

.product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 205px;
  
  div {
    margin-right : 50px;
  }

  .product-feature {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: 42px;
      margin-right: 11px;
    }

    h4 {
      font-weight: 300;
    }
  }

  .feature-desc {
    margin-top: 17px;
    font-size: 12px;
    font-weight: 300;
  }
}
